[workspace]
members = [
  "aubio-sys",
  "aubio-lib",
  "aubio-rs",
]

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = false
debug-assertions = false
codegen-units = 16
panic = 'unwind'
incremental = false
overflow-checks = false
